<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_book_store</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	
    	<mapping class="com.vn.entity.Book"></mapping>
    	<mapping class="com.vn.entity.Category"></mapping>
    	<mapping class="com.vn.entity.Account"></mapping>
    	<mapping class="com.vn.entity.Bill"></mapping>
    	<mapping class="com.vn.entity.Address"></mapping>
    	<mapping class="com.vn.entity.BookOrder"></mapping>
    	<mapping class="com.vn.entity.BookRating"></mapping>
    	<mapping class="com.vn.entity.BookSale"></mapping>
    	<mapping class="com.vn.entity.Cart"></mapping>
    	<mapping class="com.vn.entity.Customer"></mapping>
    	<mapping class="com.vn.entity.Employee"></mapping>
    	<mapping class="com.vn.entity.Order"></mapping>
    	<mapping class="com.vn.entity.Sale"></mapping>
    	<mapping class="com.vn.entity.ShippingInfo"></mapping>
    	<mapping class="com.vn.entity.Store"></mapping>
    </session-factory>
    
</hibernate-configuration>
