
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AddBook</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:fragment="content">
		<h3>Thêm mới sách:</h3>
		<form th:action="@{/product/save}" th:object="${book}" method="post">
			<table border="0">
				<tr>
					<td>ID</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Category</td>
					<td><input type="text" th:field="*{category.id}"
						required="required" /></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" th:field="*{name}" required="required" /></td>
				</tr>
				<tr>
					<td>Author</td>
					<td><input type="text" th:field="*{author}"
						required="required" /></td>
				</tr>
				<tr>
					<td>Publisher</td>
					<td><input type="text" th:field="*{publisher}" /></td>
				</tr>
				<tr>
					<td>Year Of Publication</td>
					<td><input type="text" th:field="*{yearOfPublication}" /></td>
				</tr>
				<tr>
					<td>Quantity</td>
					<td><input type="text" th:field="*{quantity}"
						required="required" /></td>
				</tr>
				<tr>
					<td>Price</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Lưu" /> <a
						th:href="@{/products}"> Hủy</a></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>